/* CSS Document for infinite scroll (using waypoint jquery plugin) */

.infinite-container {
      overflow:hidden;
      position:relative;
	  min-height: 300px;
}
.infinite-container.infinite-loading:after {
      content:"Loading...";
      height:30px;
      line-height:30px;
      position:absolute;
      left:0;
      right:0;
      bottom:0;
      text-align:center;
      background:#60605B;
      color:#eae2f2;
}
.infinite-item {
}
.infinite-more-link {
      visibility:hidden;
}


